.mainWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 50px 0 25px 0;
}
.mainWrapperBlur {
  filter: blur(4px);
}

.select {
  display: block;
  margin: auto;
}

.option {
  margin: auto;
}
.inputMoney {
  display: inline-block;
  width: 50px;
  height: 20px;
  margin-right: 10px;
  border: none;
  outline: none;
}
.inputLocation {
  display: inline-block;
  width: 150px;
  height: 20px;
  border: none;
  outline: none;
}

.inputAbout {
  display: block;
  margin: auto;
  width: 250px;
  height: 100px;
  border: none;
  resize: none;
  outline: none;
}

.button {
  margin: auto;
  width: 70px;
  height: 30px;
}

.list {
  width: 200px;
  background: rgba(198, 202, 202, 0.5);
  color: rgb(78, 78, 78);
  border-radius: 6px;
  overflow: hidden;
  margin: 10px 0 0 30%;
  position: absolute;
  z-index: 1;
}
.list {
  padding: 0;
}

.optionItem {
  padding: 15px 0 15px 65px;
  list-style: none;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}

.optionItem img {
  width: 20px;
  position: absolute;
  top: 16px;
  left: 25px;
}

.optionItem:hover {
  background-color: rgba(253, 253, 253, 0.3);
  /* color: rgba(85, 85, 85, 0.87); */
}

.langaugeTittle {
  margin: 25px auto 0 auto;
  background-color: rgba(255, 255, 255, 0.4);
  height: 50px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.langaugeTittle img {
  width: 35px;
  padding-right: 5px;
}
.langaugeTittle:hover {
  background-color: rgba(255, 255, 255, 0.7);
}


.formDone img {
  display: block;
  margin: auto;
  width: 45px;
  position: relative;
  animation: opacity 1s;
  z-index: 1;
opacity: 0;  


}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
   
  }
  
}
