.mainWrapper {
  height: 30px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(117, 117, 117, 0.726);
  font-size: 15px;
  background: rgba(121, 201, 151, 0.05);  

}

.preloader{
  height: 30px;
}