.mainWrapper {
  width: 250px;
  height: 250px;
  border: 1px solid black; 
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  color: cadetblue;
  font-size: xx-large;
  text-align: center;
}

button {
  display: block;
  margin: auto;
}